.heading-box-model {
  background-color: aquamarine;
  margin: 0;
  /* width: 100%; */
  /* margin-left: 100px; */
  padding: 30px;
  margin: 30px;

  /* border: 20px groove black; */
  outline: 10px solid rgb(255, 100, 0);

  border:10px solid green;
  border-style:10px solid green;

  /* border-top: 20px groove green;
  border-bottom-color: blueviolet;
  border-bottom-width: 5px;
  border-left-width: 10px; */



  /* margin padding */


  /* margin-top: 5px;
  margin-right: 0px;
  margin-left: 3px;
  margin-bottom: 3px; */


  margin: 5px 0px 3px 3px;

  margin: 5px 0px 10px;

  margin: 10px 40px;
}

body {
  margin: 0px;
  /* width: 100%; */
}