header {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  background-color: aqua;
  transition: background-color 0.5s ease-in-out;
}

header:hover {
  background-color: blue;
}

header div:nth-child(1) {
  padding-inline: 2rem;
}

header div p {
  text-align: center;
}

header nav ul {
  /* background-color: aqua; */
  height: 50px;
  width: 150px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;

  align-items: center;


}

header nav li {
  /* background-color: brown; */
}

header nav ul li a {
  color: black;
  text-decoration: none;
  text-decoration-color: transparent;
  transition: text-decoration 0.5s ease-in-out;
  transition: color 0.5s ease-in;
}

header nav ul li a:hover {
  color: green;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: brown;
}