header {
  height: 70px;
  background-color: beige;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
  box-sizing: border-box;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

header nav li:hover {
  background-color: aquamarine;
}

header nav ul li a {
  display: block;
  padding: 8px 12px;
}

header nav ul li:hover a {
  color: black;
}